@page
@model MegaDeskWeb.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List all quotes</h1>
<div class="row">
    <div class="col-sm-10">
        <form>
            <div class="row">
                <div class="col-sm">
                    <input type="text" asp-for="SearchString" class="form-control form-control-sm" placeholder="Customer name" autocomplete="off"/>
                </div>
                <div class="col-sm">
                    <input type="submit" value="Filter" class="btn btn-sm btn-success"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-2">
            <a class="btn btn-sm btn-primary" asp-page="Create">Create New</a>
    </div>


</div>
<hr />
<div class="row">
    <div class="col-sm">
        <table class="table table-sm table-hover table-bordered-primary table-warning">
    <thead class="text-center">
        <tr>
            <th>
                Name
            </th>
            <th>
                S. Width
            </th>
            <th>
                S. Depth
            </th>
            <th>
                N° Drawers
            </th>
            <th>
                Rush
            </th>
            <th>
                M. Surface
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rush)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surface)
            </td>
            <td>
                <a class="btn btn-sm btn-success" asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a class="btn btn-sm btn-warning" asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
